.ipynb_checkpoints/
__pycache__/
time_or_dawndusk_or_night-checkpoint.txt
Reformat_dataset.ipynb
Test_folder_overlap.ipynb
Testing.ipynb
failed_file_moves.txt
rainy_or_snowy_or_foggy_and_daytime_or_dawndusk_or_night.txt
test_json_1.json
test_json_2.json
test_val_file.json
